<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/template/assets/images/favicon.png">
    <title><%=title%></title>
    <!-- Custom CSS -->
    <link href="/template/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="/template/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- <link href="/template/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" /> -->
    <!-- Custom CSS -->
    <link href="/template/dist/css/custome.css" rel="stylesheet">
    <link href="/template/dist/css/style.min.css" rel="stylesheet">
    



    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- Lottie Library -->
  <script src="https://cdn.jsdelivr.net/npm/lottie-web@5.7.1"></script>

  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
       


        <%- include('../partials/topbar') %>



        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
       


        <%-include('../partials/sidebar')%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
          



          <%- include("../../"+page_path) %>



            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- <footer class="footer text-center text-muted">
                All Rights Reserved by sss. Designed and Developed by <a
                    href="">WrapPixel</a>.
            </footer> -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->




       <!-- The Modal -->
       <div class="modal fade" id="myAccount">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: aliceblue;">
              <h3 class="modal-title"><i data-feather="user"
                class="svg-icon mr-2 ml-1" style="color: black;"></i><b style="color: black;">My Profile&nbsp; (<%= user.user_data.user_type=='C' ? user.user_data.customer_name : user.user_data.seller_name %>)</b></h3>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" style="background-color: antiquewhite;">
              <form action="/save_my_profile" method="post">
              <div class="row" style="align-items: center;margin-left: 5vw;">
                <div class="col-md-10">
                  <h4 class="badge badge-success" style="font-size: 21px;margin-left: 29vw;"><%= user.user_data.customer_name %></h4>
                  <% if (user.user_data.user_type=='C') { %>
                    <div class="row mt-4 ml-5">
                      <div class="form-group col-md-6">
                        <label for="loc_id"><b style="color: black;">Location Name:</b></label>
                        <select name="loc_id" class="form-control" id="loc_id" required>
                        <option value="">Select Location Name</option>
                      
                        </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="phone"><b style="color: black;">Phone No:</b></label>
                          <input type="text" id="phone" name="phone" class="form-control" value="<%= user.user_data.mobile_no %>" />
                          </div>
                          <div class="form-group col-md-6">
                            <label for="email_id"><b style="color: black;">Email:</b></label>
                            <input type="text" id="email_id" name="email_id" class="form-control" value="<%= user.user_data.email %>" />
                            </div>
                          <div class="form-group col-md-6">
                              <label for="cust_add"><b style="color: black;">Customer Address:</b></label>
                              <input type="text" id="cust_add" name="cust_add" class="form-control" value="<%= user.user_data.cust_addr %>" />
                              </div>
                    </div>
                  <% } %>
                 <div class="row mt-3">
                  <button type="submit" class="btn btn-primary" style="border-radius: 5px;margin-left: 31vw;">Submit</button>
                 </div>
                </div>
              </div>
              </form>
            </div>
  
            <!-- Modal footer -->
            <div class="modal-footer" style="background-color: aliceblue;">
              <!-- <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button> -->
            </div>
          </div>
        </div>
      </div>


       <!--change password modal-->

    <div class="modal fade" id="changepwd">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header" style="background-color: aliceblue;">
            <h4 class="modal-title"><i class="fa fa-key" style="font-size:30px;color: black;">&nbsp;Change Password</i></h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body" style="background-color: antiquewhite;">
          <form action="/password" method="post" id="myForm">
            <% if (user.user_data.user_type=='C') { %>
            <div class="row">
              <div class="col-md-4">
                <label for="old_pwd"><b style="color: black;">Old Password:</b></label>
                <input
                    type="password"
                    name="old_pwd"
                    class="form-control"
                    id="old_pwd"
                    maxlength="4"
                    placeholder="Enter old password....."
                    required
                  />
              </div>
              <div class="col-md-4">
                <label for="new_pwd"><b style="color: black;">New Password:<span class="text-danger" style="font-size: small;">&nbsp;&nbsp;(Max 4 digits)</span></b></label>
                <input
                    type="password"
                    name="new_pwd"
                    class="form-control"
                    id="new_pwd"
                    maxlength="4"
                    placeholder="Enter new password....."
                    required
                  />
              </div>
              <div class="col-md-4">
                <label for="con_pwd"><b style="color: black;">Confirm Password:</b></label>
                <input
                    type="password"
                    name="con_pwd"
                    class="form-control"
                    id="con_pwd"
                    maxlength="4"
                    placeholder="Enter confirm password....."
                    required
                  />
              </div>
              <% } %>
              <div class="form-group col-3 mt-4">
                <button
                  type="submit"
                  value="SUBMIT"
                  class="btn btn-primary" style="margin-left: 40vw;border-radius: 5px;">Submit
              </button>
              </div>
            </div>
            </form>
            
          </div>

          <!-- Modal footer -->
          <div class="modal-footer" style="background-color: aliceblue;">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button> -->
          </div>
        </div>
      </div>
    </div>


    <script src="/template/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/template/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/template/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="/template/dist/js/app-style-switcher.js"></script>
    <script src="/template/dist/js/feather.min.js"></script>
    <script src="/template/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/template/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/template/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="/template/assets/extra-libs/c3/d3.min.js"></script>
    <script src="/template/assets/extra-libs/c3/c3.min.js"></script>
    <script src="/template/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="/template/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/template/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/template/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/template/dist/js/pages/dashboards/dashboard1.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    
<% if (error.length > 0) { %>
    <script>
      toastr.error('<%= error %>')
    </script>
  <% } else if (success.length > 0) { %>
    <script>
      toastr.success('<%= success %>')
    </script>
  <% }else if (info.length > 0) { %>
    <script>
      toastr.info('<%= info %>')
    </script>
  <% }else if (warning.length > 0) { %>
    <script>
      toastr.warning('<%= warning %>')
    </script>
  <% } %>

  <script>

    $("#myprofile").click(function(){
      var loc_id = $('#loc_id').val();

      $.ajax({
      type: "GET",
      url: "/location_details",
      data: { loc_id: loc_id },
      success: function (response) {
        // console.log(response);
           $('#loc_id').empty();
           $('#loc_id').append(`<option value="">Select Location Name</option>`)
            var loca_id = '<%= user.user_data.location_id %>'
           response.msg.forEach((item, i) => {
            var _selected = false
            if(loca_id == item.location_id) _selected = true
            // console.log(item.location_id);
            $('#loc_id').append($('<option>', {value: item.location_id, text: item.loction, selected: _selected}))
           });
      },
      error: function (error) {
        // console.log(error);
        // Hide the details section on error
      },
    });
    });


    function createDate(inputDate){
        const date = new Date(inputDate);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${day}/${month}/${year}`;
    }
    
    function createDateTime(inputDate){
        const date = new Date(inputDate);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const hr = String(date.getHours()).padStart(2, '0');
        const min = String(date.getMinutes()).padStart(2, '0');
        const sec = String(date.getSeconds()).padStart(2, '0');
        return `${day}/${month}/${year} ${hr}:${min}:${sec}`;
    }
  </script>
</body>

</html>