<div class="container-fluid">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="titleSec">
          <button type="button" class="btn btn-primary" id="myBtn"
            style="float: inline-end;border-radius: 6px;width: 6vw;cursor: pointer;">Add</button>
        </div>
        <div class="row mt-4">
          <h4 class="text-dark"><i data-feather="settings" class="feather-icon"></i>&nbsp;<b>Device Setting</b></h4>
        </div>
        <div class="row mt-3">
          <div class="form-group col-6">
            <label for="dev_id"><b style="color: black;">Device Id:</b></label>
            <select name="dev_id" class="form-control" id="dev_id" required>
              <option value="">Select Device Id</option>
              <% data.msg.forEach(function(item2,index) { %>
                <option value="<%=item2.app_id%>">
                  <%=item2.app_id%>
                </option>
                <% }); %>
            </select>
          </div>
          <div class="form-group col-md-4" style="margin-top: 30px;">
            <button type="submit" class="btn btn-primary" style="border-radius: 5px;" id="submitBtn">Submit</button>
          </div>
        </div>
        <div class="table-responsive">
          <table id="example" class="table table-striped table-bordered show_data" style="width:100%">
            <thead>
              <tr>
                <th class="text-dark text-center">Sl. No.</th>
                <th class="text-dark text-center">Device ID</th>
                <th class="text-dark text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="9" class="text-danger text-center">No Data Found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
  rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title text-dark"><i data-feather="plus-circle" class="feather-icon"></i>&nbsp;<b>Add Device</b>
        </h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/device/add_save_device" method="post" id="myForm">
          <div class="row">
            <div class="form-group col-4">
              <label for="cust_id" class="text-dark"><b>Customer Name:</b></label>
              <select name="cust_id" class="form-control" id="cust_id" required>
                <option value="<%=user.user_data.customer_id==data.msg[0].customer_id
                  ? 'selected' : '' %>">
                  <%= data.msg[0].customer_name %>
                </option>
              </select>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="app_id" class="text-dark"><b>Device ID</b></label>
                <input type="text" class="form-control" id="app_id" name="app_id" placeholder="Enter Device ID...."
                  value="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="dev_mode" class="text-dark"><b>Mode</b></label>
                <select name="dev_mode" class="form-control" id="dev_mode">
                  <option value="<%= data.msg[0].dev_mod == 'D' ? 'D' : 'F' %>">
                    <%= data.msg[0].dev_mod=='D' ? 'Normal' : 'Toll Naka' %>
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4 cust-toggle1 mt-3">
              <label for="report_flag" class="text-dark"><b>Report Flag</b></label><br>
              <input type="checkbox" value="Y" id="report_flag" data-toggle="toggle" data-onstyle="success"
                data-offstyle="danger" data-on="Active" data-off="Deactive" name="report_flag">
            </div>
            <div class="col-md-4 cust-toggle1  mt-3">
              <label for="tot_col" class="text-dark"><b>Total collection Flag</b></label><br>
              <input type="checkbox" value="Y" id="tot_col" data-toggle="toggle" data-onstyle="success"
                data-offstyle="danger" data-on="Active" data-off="Deactive" name="tot_col">
            </div>

            <div class="col-md-4 cust-toggle1 mt-3">
              <label for="adv_pay_flag" class="text-dark"><b>Advance Flag</b></label><br>
              <input type="checkbox" value="Y" id="adv_pay_flag" data-toggle="toggle" data-onstyle="success"
                data-offstyle="danger" data-on="Active" data-off="Deactive" name="adv_pay_flag">
            </div>
            <div class="col-md-4 cust-toggle1 mt-5">
              <label for="grace_flag" class="text-dark"><b>Grace Period Flag</b></label><br>
              <input type="checkbox" value="Y" id="grace_flag" data-toggle="toggle" data-onstyle="success"
                data-offstyle="danger" data-on="Active" data-off="Deactive" name="grace_flag" checked>
            </div>
            <div class="col-md-4 mt-5" id="hide_grace">
              <div class="form-group">
                <label for="grace_value" class="text-dark"><b>Grace Value &nbsp;<span class=text-danger>(In
                      Minute)</span></b></label>
                <input type="text" name="grace_value" id="grace_value" class="form-control" value="00">
              </div>
            </div>

            <div class="col-md-4 cust-toggle1 mt-5">
              <label for="redirect_flag" class="text-dark"><b>Redirection</b></label><br>
              <input type="checkbox" value="Y" id="redirect_flag" data-toggle="toggle" data-onstyle="success"
                data-offstyle="danger" data-on="Active" data-off="Deactive" name="redirect_flag">
            </div>

          </div>
          <div class="row mt-3">
            <div class="form-group col-md-3">
              <input type="submit" value="SUBMIT" class="btn btn-primary "
                style="margin-left: 35vw;border-radius: 6px;" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#myBtn").click(function () {
      $("#myModal").modal();
    });
  });
</script>

<script>
  $('#grace_flag').on('change', function () {
    if ($(this).is(':checked')) {
      $('#hide_grace').show()
      $('#grace_value').attr('required', 'required')
    } else {
      $('#grace_value').removeAttr('required')
      $('#grace_value').val('00')
      $('#hide_grace').hide()
    }
  })
</script>


<script>
  $('#submitBtn').click(function () {
    var dev_id = $('#dev_id').val();

    var tbody = $(".show_data tbody");
    $.ajax({
      type: "GET",
      url: "/device/device_details",
      data: { dev_id: dev_id },
      success: function (response) {
        tbody.empty();
        if (response.suc > 0 && response.msg.length > 0) {
          response.msg.forEach(function (item, index) {
            var flag = 'Y', dev = 'D', tot = 'Y', pay = 'Y';
            var row =
              "<tr>" +
              "<td class='text-dark text-center'>" +
              (index + 1) +
              "</td>" +
              "<td class='text-dark text-center'>" +
              item.app_id +
              "</td>" +
              "<td class='text-center'><a href='/device/edit_device_details?customer_id=" + item.customer_id + "&&dev_id=" + item.app_id + "' class='btn btn-info' style='border-radius:5px'><i class='fa fa-edit'></i></a></td>" +
              "</tr>";
            tbody.append(row);
          });
        } else {
          $('.show_data tbody').append(`
              <tr>
                <td colspan="3" class="text-danger text-center">No data found</td>
              </tr>
            `)
        }

      },
      error: function (error) {
        // console.log(error);
        tbody.empty();

      },
    });

  });
</script>